.box1 {
    background-color: #EAC7C7;
    border: 5px solid #E8A2A2;
    margin: 10px 500px;
    padding: 100px ;
    }
    
.box2 {
    background-color: #D5E3E8;
    border: 5px solid #A0C3D2;
    margin: 10px 400px; 
    padding: 100px ;
    }
     
.box3 {
    background-color: #F7F5EB;
    border: 5px solid #EAE0DA;
    margin: 10px 300px;
    padding: 100px ;
    } 