body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;    
    padding: 30 40px;
  }
  .nav-item {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px #63808d;
    padding: 10px 15px;
    transition: background-color 0.2s ease;
    margin: 1px 200px;
  }
  .nav-links {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    width: 300px;
    height: 100vh;
    background-color: white;
}

.nav-link:hover {
    background-color: #eee;
    font-weight: 700;
    transition: background-color 0.1s ease-in-out;
}
.nav-link {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid gray;
    padding: 10px;
}
img {
    max-width: 99%;
    max-height: 99%;
    width: 600px;
    height: 700px;
}
  .nav-item:hover {
    background-color: #63808d;
  }
.container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Sidebar and main content area */
    grid-template-rows: auto 1fr auto; /* Header, main content area, and footer */
    min-height: 100vh;
}

header, footer {
    grid-column: span 2; /* Header and footer span across both columns */
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

aside {
    background-color: #ddd;
    padding: 10px;
}

main {
    padding: 20px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 767px) {
    .container {
        grid-template-columns: 1fr; /* Single column layout for small screens */
        grid-template-rows: auto 1fr auto;
    }
}
.footer {
    align-items: center;
}